<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta</title>
  </head>
  <body>
    <h1>Welcome to Insta</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
      accusamus asperiores rem tempore. Deserunt doloribus dolorum ut
      necessitatibus recusandae impedit quis, pariatur officiis provident
      obcaecati nostrum dolores amet sit sint.
    </p>
    <button>Follower</button>
    <button>following</button>
  </body>
</html>
